@page
@model WebAppMatrix.Pages.MatrixSolving.MatrixSolvingIndexModel
@{
    ViewData["TITLE"] = "";
}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
    </head>

    <body>

    </body>
</html>